.tables {
  font-size: 15px;
}

.pagination {
    margin: 0px 0px 0px 0px;
}

.ex_text {
    border-left: 1px solid #ededed;
}

.tables_text {
    border-right: 1px solid #ededed;
}

.db_title {
    line-height: 1.5;
    margin: 0px 0px;
    font-size:;
}

