.nav { margin-top: 10px; }

.numEx { margin-top: 0px; }

.tables { font-size: 15px; }

.pagination { margin: 0px 0px 0px 0px; }

.ex_text { border-left: 1px solid #ededed; }
.tables_text { border-right: 1px solid #ededed; }

.db_title {
    font-size: 25px;
}

.sql-code .hljs-keyword { color: #c7254e; }
