<div class="row">
    <div class="col-xs-12">
        <br>

        <form>
            <fieldset class="form-group" >

                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="radio_question" uib-btn-radio="'domandeSQL'" ng-click="getSolutions()">SQL</label>
                    <label class="btn btn-primary" ng-model="radio_question" uib-btn-radio="'domandeALG'" ng-click="getSolutions()">Algebra Relazionale</label>
                </div>

                <hr>

                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="radio_typeArgument" uib-btn-radio="'ex_argument'" ng-disabled="disable_selectArgument" ng-click="updateArguments()">Scegli argomento</label>
                    <label class="btn btn-primary" ng-model="radio_typeArgument" uib-btn-radio="'new_argument'" ng-click="radio_typeSolution = 'new_solution'">Nuovo argomento</label>
                </div>

                <br>

                <div ng-show="radio_typeArgument == 'ex_argument'">
                    <label for="select_argument">Selezionare l'argomento relativo alla domanda:</label>
                    <select class="form-control" id="select_argument" ng-model="selected_argument" ng-change="getSolutions(radio_question)">
                        <option ng-repeat="argument in arguments" value="{{ argument.id }}">{{ argument.argomento }}</option>
                    </select>
                </div>

                <div ng-show="radio_typeArgument == 'new_argument'">
                    <label for="text_argument">Inserisci il nuovo argomento:</label>
                    <input type="text" id="text_argument" class="form-control input-xsmall" ng-model="argument">
                </div>

                <hr>

                <label for="textarea_question">Inserire il testo della domanda:</label>
                <textarea class="form-control vresize" id="textarea_question" rows="3"  ng-model="question" style="resize: vertical; min-height:110px;"></textarea>

                <hr>

                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="radio_typeSolution" uib-btn-radio="'ex_solution'" ng-disabled="radio_typeArgument == 'new_argument' || disable_selectSolution" ng-click="getSolutions()">Scegli soluzione</label>
                    <label class="btn btn-primary" ng-model="radio_typeSolution" uib-btn-radio="'new_solution'">Nuova soluzione</label>
                </div>

                <br>

                <div ng-show="radio_typeSolution == 'ex_solution'">
                    <label for="select_solution">Scegli una soluzione tra quelle già esistenti:</label>
                    <select class="form-control" id="select_solution" ng-model="selected_solution" >
                        <option ng-repeat="solution in solutions" value="{{ solution.id }}">{{ solution.soluzione }}</option>
                    </select>
                </div>

                <div ng-show="radio_typeSolution == 'new_solution'">
                    <label for="text_solution">Inserire il risultato della query:</label>
                    <input type="text" id="text_solution" class="form-control input-xsmall" ng-model="solution">
                </div>

                <hr>

                <label for="div_database">Seleziona un Database esistente o creane uno nuovo:</label>
                <div class="input-group" id="div_database">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Aggiungi Database</button>
                    </span>
                    <select class="form-control" id="select_database" ng-model="selected_database" >
                        <option ng-repeat="database in databases" value="{{ database.id }}" >{{ bho }}</option>
                    </select>
                </div>

            </fieldset>

            <br>

            <div class="row text-center">
                <div class="col-xs-6 col-xs-offset-3">
                    <button class="btn btn-success btn-lg" ng-click="submitNewQuestion()" ng-disabled="question == '' ">Aggiungi una nuova domanda</button>
                    <br>
                    <br>
                    <uib-alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</uib-alert>
                    <br>
                </div>
            </div>
        </form>

    </div>
</div>
