<div class="row text-center">
    <div class="col-xs-12">

        <!-- customizing pagination -->
        <script id="template/pagination/pagination.html" type="text/ng-template">
            <ul class="pagination">
                <li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}">
                    <a href ng-click="selectPage(1)" title="First Page">
                        <span class="glyphicon glyphicon-backward"></span>
                    </a>
                </li>
                <li ng-if="directionLinks" ng-class="{disabled: noPrevious()}">
                    <a href ng-click="selectPage(page - 1)" title="Previous Page">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </li>
                <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}">
                    <a href ng-click="selectPage(page.number)" popover="{{ page.text }}" popover-trigger="mouseenter">{{  page.text }}</a>
                </li>
                <li ng-if="directionLinks" ng-class="{disabled: noNext()}">
                    <a href ng-click="selectPage(page + 1)" title="Next Page">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
                <li ng-if="boundaryLinks" ng-class="{disabled: noNext()}">
                    <a href ng-click="selectPage(totalPages)" title="Last Page">
                        <span class="glyphicon glyphicon-forward"></span>
                    </a>
                </li>
            </ul>
        </script>

        <h4>Ci sono {{ exercises.length }} esercizi di questo argomento</h4>
        <pagination
                    ng-model="currentPage"
                    total-items="exs.length"
                    max-size="maxSize"
                    boundary-links="true"
                    items-per-page="itemsPerPage" >
        </pagination>

    </div>
</div>
<div class="row">
    <div class="col-xs-12">

        <div class="row">
            <div ng-repeat="ex in filteredEx track by $index">
                <h3>Esercizio {{ ex.id }}</h3>
                {{ex.text}}
            </div>
        </div>

        <br><br><br><br><br><br><br><br><br>

        <div class="row">
            <div class="btn-group" role="group" aria-label="toolbarAlg">
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('∪')" popover-title="Unione" popover="Unione" popover-trigger="mouseenter">∪</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('∩')" popover-title="Intersezione" popover="Intersezione" popover-trigger="mouseenter">∩</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('-')" popover-title="Sottrazione" popover="Sottrazione" popover-trigger="mouseenter">-</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('÷')" popover-title="Divisione" popover="Divisione" popover-trigger="mouseenter">÷</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('×')" popover-title="Prodotto cartesiano" popover="Prodotto cartesiano"  popover-trigger="mouseenter">×</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('⋈')" popover-title="Natural Join" popover="Natural Join" popover-trigger="mouseenter">⋈</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('⧑')" popover-title="Left Outer Join" popover="Left Outer Join" popover-trigger="mouseenter">⧑</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('⧒')" popover-title="Right Outer Join" popover="Right Outer Join" popover-trigger="mouseenter">⧒</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('⧓')" popover-title="Full Outer Join" popover="Full Outer Join" popover-trigger="mouseenter">⧓</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('σ')" popover-title="Selezione" popover="Selezione" popover-trigger="mouseenter">σ</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('π')" popover-title="Proiezione π a,b (A)" popover="Proiezione π a,b (A)" popover-trigger="mouseenter">π</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('ρ')" popover-title="Ridenominazione" popover="Ridenominazione" popover-trigger="mouseenter">ρ</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('∧')" popover-title="And" popover="And" popover-trigger="mouseenter">∧</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('∨')" popover-title="Or" popover="Or" popover-trigger="mouseenter">∨</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('=')" popover-title="Uguale" popover="Uguale" popover-trigger="mouseenter">=</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('≠')" popover-title="Diverso" popover="Diverso" popover-trigger="mouseenter">≠</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('≥')" popover-title="Maggiore o uguale" popover="Maggiore o uguale" popover-trigger="mouseenter">≥</button>
                <button class="btn btn-success btn-sm" ng-click="addOpAlg('≤')" popover-title="Minore o uguale" popover="Minore o uguale" popover-trigger="mouseenter">≤</button>
            </div>
        </div>

        <br>

        <div class="row">
            <form>
                <fieldset class="form-group">
                    <input type="text" class="form-control input-xsmall" id="queryAlg" placeholder="Inserisci la query in algebra relazionale..." ng-model="queryAlg">
                </fieldset>
                <button type="submit" class="btn btn-primary">Invia</button>
            </form>
        </div>

    </div>
</div>
