<div class="container-fluid" ng-controller="algCrtl">
    <br>
    <div class="row">
        <div class="col-xs-12">

            <div class="row">
                <h3>Lista argomenti</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>

            <div class="row">
                <h3>Argomento: lalalala</h3>
                <h3>Testo:</h3>
                <p>Selezionare le barche di colore yeellooowwww</p>
            </div>

            <div class="row">
                <div class="btn-group" role="group" aria-label="toolbarAlg">
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('∪')" popover="Unione" popover-trigger="mouseenter">∪</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('∩')" popover="Intersezione" popover-trigger="mouseenter">∩</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('-')" popover="Sottrazione" popover-trigger="mouseenter">-</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('÷')" popover="Divisione" popover-trigger="mouseenter">÷</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('×')" popover="Prodotto cartesiano" popover-trigger="mouseenter">×</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('⋈')" popover="Natural Join" popover-trigger="mouseenter">⋈</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('⧑')" popover="Left Outer Join" popover-trigger="mouseenter">⧑</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('⧒')" popover="Right Outer Join" popover-trigger="mouseenter">⧒</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('⧓')" popover="Full Outer Join" popover-trigger="mouseenter">⧓</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('σ')" popover="Selezione" popover-trigger="mouseenter">σ</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('π')" popover="Proiezione π a,b (A)" popover-trigger="mouseenter">π</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('ρ')" popover="Ridenominazione" popover-trigger="mouseenter">ρ</button>
                </div>
            </div>

            <br>

            <div class="row">
                <form>
                    <fieldset class="form-group">
                        <input type="text" class="form-control input-xsmall" id="queryAlg" placeholder="Inserisci la query in algebra relazionale..." ng-model="queryAlg">
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Invia</button>
                </form>
            </div>
        </div>
    </div>
</div>


