<div class="row text-center">
    <div class="col-xs-12">

        <!-- customizing pagination -->
        <script id="template/pagination/pagination.html" type="text/ng-template">
            <ul class="pagination">
                <li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}">
                    <a href ng-click="selectPage(1)" title="First Page">
                        <span class="glyphicon glyphicon-backward"></span>
                    </a>
                </li>
                <li ng-if="directionLinks" ng-class="{disabled: noPrevious()}">
                    <a href ng-click="selectPage(page - 1)" title="Previous Page">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </li>
                <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}">
                    <a href ng-click="selectPage(page.number)" uib-popover="{{ page.text }}" popover-trigger="mouseenter">{{  page.text }}</a>
                </li>
                <li ng-if="directionLinks" ng-class="{disabled: noNext()}">
                    <a href ng-click="selectPage(page + 1)" title="Next Page">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
                <li ng-if="boundaryLinks" ng-class="{disabled: noNext()}">
                    <a href ng-click="selectPage(totalPages)" title="Last Page">
                        <span class="glyphicon glyphicon-forward"></span>
                    </a>
                </li>
            </ul>
        </script>

        <h4>Ci sono {{ exercises.length }} esercizi di questo argomento</h4>
        <uib-pagination
                        ng-model="currentPage"
                        ng-show="exercises.length != 0"
                        total-items="exs.length"
                        max-size="maxSize"
                        boundary-links="true"
                        items-per-page="itemsPerPage">
        </uib-pagination>

    </div>
</div>
<div class="row" ng-show="exercises.length != 0">
    <div class="col-xs-12">

        <div ng-repeat="ex in filteredEx track by $index">

            <h3 class="text-center">Esercizio {{ ex.id }}</h3>
            <br>

            <div class="row">
                <div class="col-xs-6 tables_text">
                    <h2 class="text-center db_title">{{ db }}</h2>
                    <b ng-repeat="table in tables" class="tables">{{ table }} <br></b>
                </div>
                <div class="col-xs-6 ex_text">
                    <h4>{{ ex.text }}</h4>
                </div>
            </div>

        </div>

        <br>

        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group" role="group" aria-label="toolbarAlg">
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('∪')" popover-title="Unione" uib-popover="Unione" popover-trigger="mouseenter">∪</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('∩')" popover-title="Intersezione" uib-popover="Intersezione" popover-trigger="mouseenter">∩</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('-')" popover-title="Sottrazione" uib-popover="Sottrazione" popover-trigger="mouseenter">-</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('÷')" popover-title="Divisione" uib-popover="Divisione" popover-trigger="mouseenter">÷</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('×')" popover-title="Prodotto cartesiano" uib-popover="Prodotto cartesiano"  popover-trigger="mouseenter">×</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('⋈')" popover-title="Natural Join" uib-popover="Natural Join" popover-trigger="mouseenter">⋈</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('⧑')" popover-title="Left Outer Join" uib-popover="Left Outer Join" popover-trigger="mouseenter">⧑</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('⧒')" popover-title="Right Outer Join" uib-popover="Right Outer Join" popover-trigger="mouseenter">⧒</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('⧓')" popover-title="Full Outer Join" uib-popover="Full Outer Join" popover-trigger="mouseenter">⧓</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('σ')" popover-title="Selezione" uib-popover="Selezione" popover-trigger="mouseenter">σ</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('π')" popover-title="Proiezione π a,b (A)" uib-popover="Proiezione π a,b (A)" popover-trigger="mouseenter">π</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('ρ')" popover-title="Ridenominazione" uib-popover="Ridenominazione" popover-trigger="mouseenter">ρ</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('∧')" popover-title="And" uib-popover="And" popover-trigger="mouseenter">∧</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('∨')" popover-title="Or" uib-popover="Or" popover-trigger="mouseenter">∨</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('=')" popover-title="Uguale" uib-popover="Uguale" popover-trigger="mouseenter">=</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('≠')" popover-title="Diverso" uib-popover="Diverso" popover-trigger="mouseenter">≠</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('≥')" popover-title="Maggiore o uguale" uib-popover="Maggiore o uguale" popover-trigger="mouseenter">≥</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpAlg('≤')" popover-title="Minore o uguale" uib-popover="Minore o uguale" popover-trigger="mouseenter">≤</button>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-xs-12">
                <textarea class="form-control" id="queryAlg" placeholder="Inserisci la query in algebra relazionale..." ng-model="queryAlg">
                </textarea>
                <br>
                <button type="submit" class="btn btn-primary">Invia</button>
            </div>
        </div>

    </div>
</div>
