<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="loginUsername">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" ng-model="loginPassword">
        </div>
        <br>
        <div class="row text-center">
            <button type="button" class="btn btn-success" ng-click="loginAdmin()" ng-disabled="loginUsername == '' || loginPassword == ''">Accedi</button>
        </div>
        <br>
        <uib-alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</uib-alert>
    </div>
</div>
