<!-- Modal template -->
<script type="text/ng-template" id="ForeignKey.html">
    <div class="modal-header">
        <h3 class="modal-title">Foreign Key</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2  text-center">

                <label class="control-label">Seleziona una tabella:</label>
                <select class="form-control" ng-model="selected_table">
                    <option id="select_table" ng-repeat="t in numTables track by $index" ng-init="indexTableModal = $index" value="{{ indexTableModal }}" ng-disabled="indexTableModal == indexTable">
                        {{ indexTableModal+1 }} - {{ modalTables[indexTableModal].name }}
                    </option>
                </select>

                <label class="control-label">Seleziona un attributo:</label>
                <select class="form-control" ng-model="selected_attr">
                    <option id="select_attr" ng-repeat="t in modalTables[selected_table].attr track by $index" ng-init="indexAttrModal = $index" value="{{ indexAttrModal }}" >
                        {{ modalTables[selected_table].attr[indexAttrModal] }}
                    </option>
                </select>

                <label class="control-label">Seleziona il valore :</label>
                <select class="form-control" ng-model="selected_value">
                    <option id="select_value" ng-repeat="t in modalTables[selected_table].matrix track by $index" ng-init="indexValueModal = $index" value="{{ indexValueModal }}" >
                        {{ modalTables[selected_table].matrix[indexValueModal][selected_attr] }}
                    </option>
                </select>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="selected_value==NULL">OK</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">

        <label for="text_nameDatabase">Inserisci il nome del database:</label>
        <input type="text" id="text_nameDatabase" class="form-control" ng-model="nameDatabase">

        <label for="text_nTables">Inserisci il numero di tabelle:</label>
        <input type="number" id="text_nTables" class="form-control" ng-model="nTables" min="1" max="5">
    </div>
</div>

<div class="row">
    <div ng-repeat="i in getNumber(nTables) track by $index" ng-init="indexTable = $index" class="col-xs-12">
        <hr>
        <h2>Tabella numero {{ indexTable+1 }} {{ tables[indexTable].name != '' ? '(' + tables[indexTable].name + ')' : '' }}</h2>

        <div class="row">
            <div class="col-xs-4">

                <h4>Inserisci il nome della tabella:</h4>
                <input type="text" id="text_nameTable{{indexTable}}" class="form-control" ng-model="tables[indexTable].name">

                <br>

                <h4>Inserisci il numero di attributi (colonne):</h4>
                <input type="number" id="text_nColumns" class="form-control" ng-model="tables[indexTable].columns" min="1" max="5" value="1">

                <br>

                <div class="row">
                    <div class="col-xs-6" ng-repeat="i in getNumber(tables[indexTable].columns) track by $index">
                        <div class="input-group" ng-init="indexColum = $index">
                            <span class="input-group-addon" id="desc_attr{{indexColum}}">Attr {{ indexColum+1 }}:</span>
                            <input type="text" class="form-control" aria-describedby="desc_attr{{indexColum}}" ng-model="tables[indexTable].attr[indexColum]">
                        </div>
                    </div>
                </div>

                <br>

                <h4>Inserisci il numero di valori (righe):</h4>
                <input type="number" id="text_nRows" class="form-control" ng-model="tables[indexTable].rows" min="1" max="5" value="1">
            </div>

            <div class="col-xs-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th ng-repeat="i in getNumber(tables[indexTable].columns) track by $index" ng-init="indexColum = $index">
                                {{ tables[indexTable].attr[indexColum] }} &nbsp;
                                <select ng-model="selectedAL" ng-show="tables[indexTable].attr[indexColum]!=NULL" ng-change="autoLoader(indexTable,indexColum, selectedAL)">
                                    <option id="select_autoLaod" ng-repeat="autoLoad in autoLoads track by $index" ng-init="indexAutoLoad = $index" value="{{ indexAutoLoad }}">
                                        {{ autoLoad }}
                                    </option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in getNumber(tables[indexTable].rows) track by $index" ng-init="indexRow = $index">
                            <th scope="row">{{ indexRow+1 }}</th>
                            <td ng-repeat="i in getNumber(tables[indexTable].columns) track by $index" ng-init="indexColum = $index">
                                <div class="input-group" >
                                    <input type="text" id="row{{indexRow}}_col{{indexColum}}" class="form-control" ng-model="tables[indexTable].matrix[indexRow][indexColum]">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="open(indexTable, indexRow, indexColum)">FK</button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <br>

        <div class="row">

        </div>

    </div>
</div>
<div class="row">
    <div class="col-xs-12">

        <br>

        <div class="row text-center">
            <button class="btn btn-success btn-lg" ng-click="logTable()">Aggiungi un nuovo database</button>
        </div>

        <br>
    </div>
</div>

