<div class="row text-center">
    <div class="col-xs-12">

        <!-- customizing pagination -->
        <script id="template/pagination/pagination.html" type="text/ng-template">
            <ul class="pagination">
                <li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}">
                    <a href ng-click="selectPage(1)" title="First Page">
                        <span class="glyphicon glyphicon-backward"></span>
                    </a>
                </li>
                <li ng-if="directionLinks" ng-class="{disabled: noPrevious()}">
                    <a href ng-click="selectPage(page - 1)" title="Previous Page">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </li>
                <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}">
                    <a href ng-click="selectPage(page.number)">{{  page.text }}</a>
                </li>
                <li ng-if="directionLinks" ng-class="{disabled: noNext()}">
                    <a href ng-click="selectPage(page + 1)" title="Next Page">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
                <li ng-if="boundaryLinks" ng-class="{disabled: noNext()}">
                    <a href ng-click="selectPage(totalPages)" title="Last Page">
                        <span class="glyphicon glyphicon-forward"></span>
                    </a>
                </li>
            </ul>
        </script>

        <h5 class="numEx">Ci sono {{ exercises.length }} esercizi di questo argomento</h5>
        <uib-pagination
                        ng-model="currentPage"
                        ng-show="exercises.length != 0"
                        total-items="exs.length"
                        max-size="maxSize"
                        boundary-links="true"
                        items-per-page="itemsPerPage" >
        </uib-pagination>

    </div>
</div>

<div class="row" ng-show="exercises.length != 0">
    <div class="col-xs-12">

        <div class="row">
            <div class="col-xs-8 tables_text">
                <h4 class=" db_title">db: {{ db }}</h4>
                <hr>
                <b ng-repeat="table in tables" class="tables">{{ table }} <br></b>
            </div>
            <div class="col-xs-4 ex_text">
                <br><br>
                <hr>
                <h4>{{ filteredEx[0].text }}</h4>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group" role="group" aria-label="toolbarSql" ng-show="type == 'SQL'">
                    <button class="btn btn-success btn-sm" ng-click="addOp('SELECT')" popover-title="SELECT" uib-popover="SELECT" popover-trigger="mouseenter">SELECT</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('FROM')" popover-title="FROM" uib-popover="FROM" popover-trigger="mouseenter">FROM</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('WHERE')" popover-title="WHERE" uib-popover="WHERE" popover-trigger="mouseenter">WHERE</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('GROUP')" popover-title="GROUP" uib-popover="GROUP" popover-trigger="mouseenter">GROUP</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('HAVING')" popover-title="HAVING" uib-popover="HAVING" popover-trigger="mouseenter">HAVING</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('ORDER')" popover-title="ORDER" uib-popover="ORDER" popover-trigger="mouseenter">ORDER</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('LIMIT')" popover-title="LIMIT" uib-popover="LIMIT" popover-trigger="mouseenter">LIMIT</button>
                </div>

                <div class="btn-group" role="group" aria-label="toolbarAlg" ng-show="type == 'ALG'">
                    <button class="btn btn-success btn-sm" ng-click="addOp('∪')" popover-title="Unione" uib-popover="A ∪ B" popover-trigger="mouseenter">∪</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('∩')" popover-title="Intersezione" uib-popover="A ∩ B" popover-trigger="mouseenter">∩</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('-')" popover-title="Sottrazione" uib-popover="A - B" popover-trigger="mouseenter">-</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('÷')" popover-title="Divisione" uib-popover="A ÷ B" popover-trigger="mouseenter">÷</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('×')" popover-title="Prodotto cartesiano" uib-popover="A × B"  popover-trigger="mouseenter">×</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('⋈')" popover-title="Join" uib-popover="A ⋈ B" popover-trigger="mouseenter">⋈</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('σ')" popover-title="Selezione" uib-popover="σ a > x (A)" popover-trigger="mouseenter">σ</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('π')" popover-title="Proiezione" uib-popover="π a,b (A)" popover-trigger="mouseenter">π</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('ρ ←')" popover-title="Ridenominazione" uib-popover="ρ a ← b" popover-trigger="mouseenter">ρ</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('∧')" popover-title="And" uib-popover="a ∧ b" popover-trigger="mouseenter">∧</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('∨')" popover-title="Or" uib-popover="a ∨ b" popover-trigger="mouseenter">∨</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('¬')" popover-title="Not" uib-popover="a ¬ b" popover-trigger="mouseenter">¬</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('=')" popover-title="Uguale" uib-popover="a = b" popover-trigger="mouseenter">=</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('≠')" popover-title="Diverso" uib-popover="a ≠ b" popover-trigger="mouseenter">≠</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('≥')" popover-title="Maggiore o uguale" uib-popover="a ≥ b" popover-trigger="mouseenter">≥</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('≤')" popover-title="Minore o uguale" uib-popover="a ≤ b" popover-trigger="mouseenter">≤</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('>')" popover-title="Maggiore" uib-popover="a > b" popover-trigger="mouseenter">&gt;</button>
                    <button class="btn btn-success btn-sm" ng-click="addOp('<')" popover-title="Minore" uib-popover="a < b" popover-trigger="mouseenter">&lt;</button>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-xs-12">
                <textarea type="text" class="form-control" id="query" placeholder="Inserisci la query..." ng-model="query" style="resize: vertical; min-height:110px;" ng-change="convertQuery()">
                </textarea>

                <br>
                {{ querySQL }}
                <br>

                <button class="btn btn-primary" ng-click="sendQuery()">Invia</button>

                <br><br>

                <uib-alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</uib-alert>

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <td ng-repeat="(key, value) in queryUser[0].results[0]">{{ key }}&nbsp;</td>
                        </tr>
                    </thead>
                    <tr ng-repeat="row in queryUser[0].results">
                        <td ng-repeat="value in row"> {{ value }}</td>
                    </tr>
                </table>

                <div ng-show="sentQuery">
                    <br>
                    <button type="button" class="btn btn-default btn-success" ng-click="soluzCollapsed = !soluzCollapsed">Mostra soluzione</button>
                    <hr>
                    <div uib-collapse="soluzCollapsed">
                        <div class="text-left sql-code" hljs language="sql" contentEditable="false" source="querySoluz[0].query"></div>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <td ng-repeat="(key, value) in querySoluz[1].results[0]">{{ key }}&nbsp;</td>
                                </tr>
                            </thead>
                            <tr ng-repeat="row in querySoluz[1].results">
                                <td ng-repeat="value in row"> {{ value }}</td>
                            </tr>
                        </table>
                    </div>

                    <br><br><br><br><br>
                </div>

            </div>
        </div>


    </div>
</div>
