<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2>Database Exercise System</h2>
            <p>Questa applicazione web è un sistema di esercitazione creato da <a href="https://github.com/Helias">Stefano Borzì</a> e <a href="https://github.com/Tkd-Alex">Alessandro Maggio</a> per facilitare lo studio dell'algebra relazionale e SQL agli studenti del Dipartimento Matematica e Informatica (DMI) dell'università di Catania.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-xs-12">
            <h2>Come si usa?</h2>

            <p class="h4">Ecco alcune documentazioni che spiegano come utilizzare il <i>Database Exercise System</i>:</p>

            <h4><a href="docs/GuidaUtente.pdf" target="_blank">Guida lato Utente</a></h4>
            <h4><a href="docs/GuidaAdmin.pdf" target="_blank">Guida lato Admin (docente)</a></h4>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-xs-12">
            <h2>Segnalazioni &amp; Suggerimenti</h2>

            <p class="h4">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Per qualsiasi segnalazione o suggerimento scriveteci <a target="_blank" href="https://github.com/Helias/Database-Exercise-System/issues/new">qui</a>

                <br><br>

                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; oppure contattateci via email:

                <a href="mailto:stefanoborzi32@gmail.com">stefanoborzi32@gmail.com</a>
                &nbsp;
                <a href="mailto:alex.tkd.alex@gmail.com">alex.tkd.alex@gmail.com</a>

                <br><br>

                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp; o via Telegram:
                &nbsp;&nbsp;&nbsp;

                <a href="http://telegram.me/Helias">@Helias</a>
                &nbsp;
                <a href="http://telegram.me/TkdAlex">@TkdAlex</a>
            </p>

            <br>

            <p class="h4 text-center">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Se vi è piaciuto il nostro progetto lasciate una star su GitHub
            </p>

            <br>

            <p class="text-center">
                <iframe src="http://ghbtns.com/github-btn.html?user=Helias&repo=Database-Exercise-System&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="20"></iframe>
                <br>
            </p>

        </div>
    </div>
</div>
