<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2>Database Exercise System</h2>
            <p>Questa applicazione web è un sistema di esercitazione creato da <a href="https://github.com/Helias">Stefano Borzì</a> e <a href="https://github.com/Tkd-Alex">Alessandro Maggio</a> per facilitare lo studio dell'algebra relazionale e SQL agli studenti del Dipartimento Matematica e Informatica (DMI) dell'università di Catania.</p>
        </div>
    </div>
</div>
