<div class="row text-center">
    <div class="col-xs-12">

        <!-- customizing pagination -->
        <script id="template/pagination/pagination.html" type="text/ng-template">
            <ul class="pagination">
                <li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}">
                    <a href ng-click="selectPage(1)" title="First Page">
                        <span class="glyphicon glyphicon-backward"></span>
                    </a>
                </li>
                <li ng-if="directionLinks" ng-class="{disabled: noPrevious()}">
                    <a href ng-click="selectPage(page - 1)" title="Previous Page">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </li>
                <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}">
                    <a href ng-click="selectPage(page.number)" uib-popover="{{ page.text }}" popover-trigger="mouseenter">{{  page.text }}</a>
                </li>
                <li ng-if="directionLinks" ng-class="{disabled: noNext()}">
                    <a href ng-click="selectPage(page + 1)" title="Next Page">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
                <li ng-if="boundaryLinks" ng-class="{disabled: noNext()}">
                    <a href ng-click="selectPage(totalPages)" title="Last Page">
                        <span class="glyphicon glyphicon-forward"></span>
                    </a>
                </li>
            </ul>
        </script>

        <h4>Ci sono {{ exercises.length }} esercizi di questo argomento</h4>
        <uib-pagination
                        ng-model="currentPage"
                        ng-show="exercises.length != 0"
                        total-items="exs.length"
                        max-size="maxSize"
                        boundary-links="true"
                        items-per-page="itemsPerPage" >
        </uib-pagination>

    </div>
</div>

<div class="row" ng-show="exercises.length != 0">
    <div class="col-xs-12">

        <div ng-repeat="ex in filteredEx track by $index">

            <h3 class="text-center">Esercizio {{ ex.id }}</h3>
            <br>

            <div class="row">
                <div class="col-xs-6 tables_text">
                    <h2 class="text-center db_title">{{ db }}</h2>
                    <b ng-repeat="table in tables" class="tables">{{ table }} <br></b>
                </div>
                <div class="col-xs-6 ex_text">
                    <h4>{{ ex.text }}</h4>
                </div>
            </div>

        </div>

        <br>

        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group" role="group" aria-label="toolbarSql">
                    <button class="btn btn-success btn-sm" ng-click="addOpSql('SELECT')" popover-title="SELECT" uib-popover="SELECT" popover-trigger="mouseenter">SELECT</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpSql('FROM')" popover-title="FROM" uib-popover="FROM" popover-trigger="mouseenter">FROM</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpSql('WHERE')" popover-title="WHERE" uib-popover="WHERE" popover-trigger="mouseenter">WHERE</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpSql('GROUP')" popover-title="GROUP" uib-popover="GROUP" popover-trigger="mouseenter">GROUP</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpSql('HAVING')" popover-title="HAVING" uib-popover="HAVING" popover-trigger="mouseenter">HAVING</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpSql('ORDER')" popover-title="ORDER" uib-popover="ORDER" popover-trigger="mouseenter">ORDER</button>
                    <button class="btn btn-success btn-sm" ng-click="addOpSql('LIMIT')" popover-title="LIMIT" uib-popover="LIMIT" popover-trigger="mouseenter">LIMIT</button>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-xs-12">
                <textarea type="text" class="form-control" id="querySql" placeholder="Inserisci la query in sql..." ng-model="querySql">
                </textarea>

                <br>

                <button type="submit" class="btn btn-primary">Invia</button>
            </div>
        </div>


    </div>
</div>
