<div ng-controller="sqlExCtrl">
    <div class="row text-center">
        <div class="col-xs-12">

            <!-- customizing pagination -->
            <script id="template/pagination/pagination.html" type="text/ng-template">
                <ul class="pagination">
                    <li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}">
                        <a href ng-click="selectPage(1)" title="First Page">
                            <span class="glyphicon glyphicon-backward"></span>
                        </a>
                    </li>
                    <li ng-if="directionLinks" ng-class="{disabled: noPrevious()}">
                        <a href ng-click="selectPage(page - 1)" title="Previous Page">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </li>
                    <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}">
                        <a href ng-click="selectPage(page.number)" popover="{{ page.text }}" popover-trigger="mouseenter">{{  page.text }}</a>
                    </li>
                    <li ng-if="directionLinks" ng-class="{disabled: noNext()}">
                        <a href ng-click="selectPage(page + 1)" title="Next Page">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </li>
                    <li ng-if="boundaryLinks" ng-class="{disabled: noNext()}">
                        <a href ng-click="selectPage(totalPages)" title="Last Page">
                            <span class="glyphicon glyphicon-forward"></span>
                        </a>
                    </li>
                </ul>
            </script>

            <h4>Ci sono {{ exercises.length }} esercizi di questo argomento</h4>
            <pagination
                        ng-model="currentPage"
                        total-items="exs.length"
                        max-size="maxSize"
                        boundary-links="true"
                        items-per-page="itemsPerPage" >
            </pagination>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            
            <div class="row">
                <div ng-repeat="ex in filteredEx track by $index">
                    <h3>Esercizio {{ ex.id }}</h3>
                    {{ex.text}}
                </div>
            </div>


            <br><br><br><br><br><br><br><br><br>

            <div class="row">
                <div class="btn-group" role="group" aria-label="toolbarSql">
                    <button class="btn btn-success btn-sm" ng-click="" popover-title="SELECT" popover="SELECT" popover-trigger="mouseenter">SELECT</button>
                    <button class="btn btn-success btn-sm" ng-click="" popover-title="FROM" popover="FROM" popover-trigger="mouseenter">FROM</button>
                    <button class="btn btn-success btn-sm" ng-click="" popover-title="WHERE" popover="WHERE" popover-trigger="mouseenter">WHERE</button>
                    <button class="btn btn-success btn-sm" ng-click="" popover-title="GROUP" popover="GROUP" popover-trigger="mouseenter">GROUP</button>
                    <button class="btn btn-success btn-sm" ng-click="" popover-title="HAVING" popover="HAVING" popover-trigger="mouseenter">HAVING</button>
                    <button class="btn btn-success btn-sm" ng-click="" popover-title="ORDER" popover="ORDER" popover-trigger="mouseenter">ORDER</button>
                    <button class="btn btn-success btn-sm" ng-click="" popover-title="LIMIT" popover="LIMIT" popover-trigger="mouseenter">LIMIT</button>
                </div>
            </div>



        </div>
    </div>
</div>
