<?php
$host = "127.0.0.1";
$username = "username";
$password = "password";
$database = "des";

function utf8_encode_deep(&$input) {
    if (is_string($input)) {
        $input = utf8_encode($input);
    } else if (is_array($input)) {
        foreach ($input as &$value) {
            utf8_encode_deep($value);
        }

        unset($value);
    } else if (is_object($input)) {
        $vars = array_keys(get_object_vars($input));

        foreach ($vars as $var) {
            utf8_encode_deep($input->$var);
        }
    }
}

function getJson($input) {
    $res = $input;
    utf8_encode_deep($res);
    return json_encode($res);
}

function print_json($json) {
  header('Content-Type: application/json');
  echo $json;
}
?>
